@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "League Spartan", serif;
}

h1 {
    font-size: 70px !important;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 55px !important;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 19px !important;
    color: #222;
}

h6 {
    font-weight: 700 !important;
    font-size: 15px !important;
}

p {
    font-size: 20px;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
}

/* navbar */

header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: aliceblue;
    z-index: 5 !important;
}

a.nav-link.active {
    color: #008057!important;
}

.navbar li {
    position: relative;
}

.navbar li a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-right: 15px;
}

.navbar li a:hover {
    color: #008057;
}

a.nav-link.active::after,
.navbar li a:hover::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 2px;
    bottom: 7px;
    left: 8px;
    background-color: #008057;
}


/* banner */

.banner {
    background-image: url(../IMAGE/hero4.png);
    background-size: cover;
    background-position: top 25% right 0;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.banner h2 {
    font-weight: 500;
}

.banner h1 {
    color: #008057;
}

.banner button {
    background-image: url(../IMAGE/button.png);
    background-color: transparent;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-size: 18px;
    color: #008057;
    font-weight: 700;
}

/* feature box */

.box {
    border: 1px solid #cce7d0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding-top: 20px;
}

.feature-box .box h6 {
    padding: 9px 8px 6px 8px;
    background-color: #fddde4;
    display: inline-block;
    border-radius: 4px;
    color: #008057;
}

.feature-box .col-md-2:nth-child(2) .box h6 {
    background-color: #cdebbc;
}

.feature-box .col-md-2:nth-child(3) .box h6 {
    background-color: #d1e8f2;
}

.feature-box .col-md-2:nth-child(4) .box h6 {
    background-color: #cdd4f8;
}

.feature-box .col-md-2:nth-child(5) .box h6 {
    background-color: #f6dbf6;
}

.feature-box .col-md-2:nth-child(6) .box h6 {
    background-color: #fff2e5;
}


.box:hover {
    box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.2);
}

.feature-box img {
    margin-bottom: 14px;
    width: 100%;
}

/* feature-products */



.feature-products h2 {
    text-align: center;
}

.feature-products p {
    text-align: center;
}

.product-outer {
    border: 1px solid #cce7d0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product-outer:hover {
    box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.2);
}

.product-img img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-content h5 {
    color: #cce7d0;
}

.product-content h4 {
    font-weight: 600;
}

.product-content .stars {
    color: yellow;
    margin-bottom: 15px;
}

.cart {
    position: relative;
    z-index: 10px;

}

.cart i {
    position: absolute;
    right: 0;
    border-radius: 50%;
    background-color: #e3f0e5;
    color: #008057;
    padding: 8px 8px;
    z-index: 15px;

}

.cart h5 {
    color: #008057;
    z-index: 15px;

}

/* repair-container */

.repair-img {
    background-image: url(../IMAGE/banner/b2.jpg);
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.repair-content {
    text-align: center;

}

.repair-content h5 {
    color: #fff;
}

.repair-content h3 {
    color: #fff;
    font-size: 40px;
}

.repair-content button {
    padding: 14px 42px;
    border-radius: 7px;
    border: transparent;
}

.repair-content button:hover {
    color: #fff;
    background-color: #008057;
}

/* offer-container */

.offer-container img {
    position: relative;
}

.offer-content {
    position: absolute;
    margin-left: 30px;
    color: #fff;
}

.offer-img {
    background-image: url(../IMAGE/banner/b17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 331px;
    display: flex;
    align-items: center;
}

.offer-container .col-md-6:nth-child(2) .offer-img {
    background-image: url(../IMAGE/banner/b10.jpg);
}

.offer-container .col-md-4:nth-child(1) .offer-img {
    background-image: url(../IMAGE/banner/b7.jpg);
    height: 234px;
    
}

.offer-container .col-md-4:nth-child(2) .offer-img {
    background-image: url(../IMAGE/banner/b4.jpg);
    height: 234px;
   
}

.offer-container .col-md-4:nth-child(3) .offer-img {
    background-image: url(../IMAGE/banner/b18.jpg);
    height: 234px;
   
}


.offer-content h2 {
    font-size: 40px !important;
    font-weight: 400;
}

.offer-content h3 {
    font-weight: 200;
}

.offer-content p {
    font-size: 18px;
}

.offer-content button {
    padding: 8px 35px;
    border-radius: 7px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
}

.offer-content button:hover {
    background-color: #008057;
}



.seasonal-content h2 {
    font-size: 23px !important;
    color: #fff;
}

.seasonal-content {
    margin: 0 25px;
}

.seasonal-content h3 {
    color: red;
    font-size: 20px;
    font-weight: 400;
}

/* signup-container */

.signup-container {
    background-color: #060f1e;
    width: 100%;
    padding: 30px 0;
}

.signup-container h3 {
    color: #fff;
}

.signup {
    display: flex;
    justify-content: space-between;

}

.signup input {
    width: 300px;
    padding: 8px 0;
}

.signup input::placeholder {
  padding: 0 10px;
}

.error-message {
    color: red;
    padding: 6px 12px;
}

.signup button{
background:#008057;
        padding: 8px 20px;
        margin: 0px -4px;
        border-color: transparent;
        color: #fff;
    
}


/* footer-container */

.contact-container h6 {
    font-weight: 200 !important;
    font-size: 17px !important;
    margin-left: 8px;
}

.social-media i{
margin-right: 10px;
}

.about-container a{
    list-style: none;
    text-decoration: none;
    color: #000;
    font-weight: 200 !important;
    font-size: 17px 
}

.about-container li {
    list-style: none;
}

.about-container ul{
    padding: 0;
}

.about-container h6{
    font-weight: 200 !important;
    font-size: 17px 
}

.store-image img {
    border: 1px solid #008057;
    margin: 0 3px;
    border-radius: 6px;
}

.copyright{
    text-align: center;
    font-weight: 200 !important;
    font-size: 17px;
}


/* responsive */

@media (max-width: 991.98px)   {

    button.navbar-toggler {
        position: absolute;
        right: 10px;
        top: 18%;
    } 

    .store-image {
        flex-direction: column;
       }

       .store-image img{
        margin: 10px 0;
       }

       .banner h2 {
        font-weight: 400;
        font-size: 45px !important;
    }

    .banner h1 {
        font-weight: 400;
        font-size: 45px !important;
    }

    .banner{
        background-position: top 25% left 75%;
    }

    .offer-img{
            background-size: 386px 275px;
           
}

.offer-container .col-md-4:nth-child(1) .offer-img {
   background-size: 224px 209px;
}

.offer-container .col-md-4:nth-child(2) .offer-img {
    background-size: 224px 209px;
 }

 .offer-container .col-md-4:nth-child(3) .offer-img {
    background-size: 224px 209px;
 }

.offer-container .row{
    padding-top: 0 !important;
    padding-bottom: 20px !important;
}

    .seasonal-content h2 {
        font-size: 12px !important ;
    }

    .seasonal-content h3 {
        font-size: 12px;
    }

    .signup input {
        width: 170px;
        padding: 3px 0;
    }

    .signup input::placeholder {
        font-size: 10px;
    }

    .about-container h5{
font-size: 19px;
    }

    .contact-container h5{
font-size: 17px !important;
    }

    .contact-container h6{
font-size: 15px !important;
    }

    .about-container a{
        font-size: 15px;
    }

    .copyright p{
        font-size: 15px;
    }

    .repair-content h3 {
    font-size: 30px;
    }

    .repair-content button {
        padding: 10px 17px;
    
    }

    .signup p {
        font-size: 15px;
    }

    .signup-container h3 {
      font-size: 22px;
    }

    .signup button {
        width: 60px;
        padding: 8px 0;
        font-size: 10px;
    }

    .arrival-heading h2{
        font-size: 40px !important;
    }
    
    .copyright {
        padding-top: 30px;
    }
    a.nav-link.active::after{
        display: none;
    }

    header{
        position: static;
    }

}

@media (max-width: 767px){
.banner{
        height: auto;
        padding: 43px 0;
}

    .banner h2{
        font-size: 20px !important;
    }

    .banner h1{
font-size: 25px !important;
    }

    .banner p{
        font-size: 15px;
    }

    .banner button {
    font-size: 14px;
    }

    .box{
            margin-bottom: 26px;
    }

    .signup{
            flex-direction: column;
    }

    .offer-container .col-md-4:nth-child(1) .offer-img {
        background-size: contain;
     }
     
     .offer-container .col-md-4:nth-child(2) .offer-img {
         background-size: contain;
      }
     
      .offer-container .col-md-4:nth-child(3) .offer-img {
         background-size: contain;
      }

      .logo-content {
        text-align: center;
    }

    .social-media{
        justify-content: center;
    }

    .about-container {
        text-align: center;
    }

    .contact-container {
        justify-content: center;
    }

    .email-signup {
        text-align: center;
    }

    .signup p {
        text-align: center;
    }

    .signup-container h3 {
        text-align: center;
    }

   

    .store-image img {
        border: none;
    }

    .feature-products h2 {
        font-size: 23px !important;
    }

    .feature-products p {
        font-size: 15px;
    }

    .arrival-heading h2 {
        font-size: 32px !important;
    }

    .arrival-heading p{
        font-size: 15px;
    }

    .offer-img{
        height:290px;
    }

    .offer-container .row {
        padding-bottom: 0 !important;
    }

    .offer-container .col-md-4:nth-child(1) .offer-img {
        height: 205px;
    }

    .offer-container .col-md-4:nth-child(2) .offer-img {
        height: 193px;
    }

    .offer-container .col-md-4:nth-child(3) .offer-img {
        height: 220px;
    }

    .offer-content h2 {
        font-size: 30px !important;
    }
}

